{% extends "base/base.html" %}

{% block title %}
  Create Employee
{% endblock title %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Create New Employee</h2>
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="text-danger small">{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Create Employee</button>
    <a href="{% url 'employee_list' %}" class="btn btn-secondary">Cancel</a>
</form>

</div>
{% endblock %}  