{% extends 'base.html' %}

{% block title %}
    {{blog.title}} Details
{% endblock title %}


{% block content %}
<div class="container my-5">
    <h2 class="mb-4">{{ blog.title }}</h2>
    <p class="text-muted">Published on {{ blog.created_at }}</p>
    <div class="mb-4">
        {{ blog.content }}
    </div>
    <p>{{blog.category.title}}</p>
    <a href="{% url 'blogs_list' %}" class="btn btn-secondary">Back to Blog List</a>
    <a href="{% url 'blog_update' blog.slug %}" class="btn btn-primary">Edit Blog</a>
</div>
{% endblock content %}  